html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    border-style: solid;
}


/* General */

.flex-container {
    display: flex;
    gap: 2rem;
}

.reading-collection{
    flex-direction: row;
    justify-content: space-evenly;
}

.reading-list {
    list-style-type: none;
    text-align: center;
    flex-direction: column;
}

.box {
    border-radius: 4px;
    border: solid 2px #ffffff;
    margin-bottom: 2rem;
    padding: 1em;
    border-left: 0;
    border-right: 0;
}

.icon {
    width: 3em;
    height: auto; 
}

/* Sections */
body {
    background: #1b1f22;
    margin: 5rem;
}

#upper-row {
    justify-content: space-between;
}

#second-row {
    flex-direction: column;
    gap: 1rem;
}

/* Clock Items */
#clock {
    border-left: 0;
    border-right: 0;
}

/* Weather Items */
.weather-hour {
    margin-bottom: 0rem;
    border-left: 0;
    border-right: 0;
    padding: 0.5em;
}

#weather-hours {
    flex-grow: 1;
}

.list-icon {
    margin-top: 0.1em;
    height: 3em;
}

.list-weather {
    margin-top: 0.1em;
    height: 2em;
}

.list-temp {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.wind {
    margin-top: 0.1em;
    gap: 0.05em;
    justify-content: center;
}


.icon-sun {
    width: 2.5em;
}

.icon-wind {
    width: 1em;
}

.icon-gps{
    width: 0.8em;
}





/* Tilt Items */

.tilt-reading {
    padding: 0.5em;
    gap: 0;
    justify-content: flex-start;
}

.tilt-indicator-gauge {
    position: relative;
    width: 14em;
    height: 7em;
    border-radius: 50%/100% 100% 0 0;
    background-color: green;
    overflow: hidden;
}

.tilt-indicator-gauge:before{
    content: "";
    display: block;
    padding-top: 50%;   /* ratio of 2:1*/
}

.tilt-indicator-gauge .tilt-mask {
    position: absolute;
    left: 7.5%;
    right: 7.5%;
    bottom: 0;
    top: 15%;
    background-color: #1b1f22;
    border-radius: 50%/100% 100% 0 0;
  }

  .tilt-indicator-gauge .tilt-percentage{
    position:  absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: green;
    transform-origin: bottom center; 
}

#roll-percentage-lb{
    transform:rotate(89deg); 
    background-color: #ffffff;
}

#roll-percentage-ub{
    transform:rotate(91deg); 
}

#pitch-percentage-lb{
    transform:rotate(89deg); 
    background-color: #ffffff;
}

#pitch-percentage-ub{
    transform:rotate(91deg); 
}

.tilt-indicator-center {
    position:absolute; 
    bottom:0%; 
    left:0;   
    width:100%;
}

.tilt-icon {
    width: 3em;
    vertical-align:middle;
    top: 5em;
}

.tilt-text{
    text-align: center;
}

.tilt-value {
    font-size: 1.5rem;
    bottom: 0;
    margin-top: 0.3em; 
    margin-bottom: 0.2em;
}

.tilt-label {
    margin-top: 0.1em;
    gap: 0.05em;
    position: relative;
}

#pitch-icon {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 4em;
}

/* The sacred and the Butane featuring Water from the devil may cry series */

.resource-view {
    justify-content: space-between;
    gap: 1em;
}

.resource-label {
    margin-top: 0.2em;
    gap: 0.05em;
    position: relative;
    text-align: center;
}

.resource-gauge {
    background-color: gray;
    width: 1em;
    height: 6.5em;
    border-radius: 10%;
    border-color: #ffffff;
    border-width: 0.2em;
    background-color: #1b1f22;
    background-image: linear-gradient(to top,green 0%, transparent 0%, transparent 100%)
}

.resource-box {
    padding: 0.5em;
    gap: 0;
    justify-content: flex-start;
    margin-bottom: 0;
    
}

.resource-reading {
    justify-content: center;
    text-align: center;
    gap: 0;
}

.resource-text {
    text-align: center;
}

.resource-value {
    padding-bottom: 0.3em;
}

.resource-cap {
    border-top:2px solid;
    padding-top: 0.3em;
}

.resource-percent {
    padding-top: 0.5em;
}

#resource-collection {
    flex-direction: column;
    gap: 0;
}

#icon-scale {
    text-align: right;
}

.icon-bt{
    width: 1em;
}
#resource-update {
    margin-top: 0.5em;
    justify-content: flex-end;
    flex-direction: row;
    gap: 0;
    align-items: center;

}

/* General Text */

html {
    font-size: 16pt;
}

body, input, select, textarea {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
}

h1, h2, h3, h4, h5, h6, .fg-dial{
    color: #ffffff;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: 5rem;
    letter-spacing: 0.3rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.8rem;
    text-align: right;
}

h5 {
    font-size: 0.5rem;
}

h6 {
    font-size: 0.6rem;
}

sub {
    font-size: 0.8rem;
    position: relative;
    top: 0.5rem;
}

sup {
    font-size: 0.8rem;
    position: relative;
    top: -0.35rem;
}

p {
    line-height: 1;
    margin: 0;
    letter-spacing: 0.01rem;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;

}